.header_container {
  border: 1px solid red;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 50px;
}

.user {
  display: flex;
  gap: 60px;
}

.user .button{
  display: flex;
  margin-bottom: 11px;
  margin-top: 19px;
  padding: 0px 22px;
  background-color: transparent;
}
